# Node
node_modules/
npm-debug.log*
yarn-error.log
.pnp.*
.pnpm-debug.log*

# Next / build
.next/
out/
dist/
.cache/

# Environment
.env
.env.local
.env.*.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
